@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Roboto";
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Roboto-mono";
    src: url("assets/fonts/Roboto-mono/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: "Fira-code";
    src: url("assets/Fira-code/FiraCode-Regular.ttf");
}